@use '../var';

.container{

    &__rightnav{
        position: fixed;
        margin-left: 80%;
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    &__contact{
        font-weight: bold;
        margin-bottom: .5rem;
    }
}

.contact{
    margin-top: 1rem;
}